@import '../../../mixins/mixins.modules.scss';

.item {
    width: 262px;
    height: 350px;
    display: inline-block;
    @include slim-bord;

    .blank {
        @include link-decoration-off;

        img {
            width: 232px;
            height: 232px;
            margin-top: 16px;
            margin-left: 13px;
        }
    }



    p {
        overflow: hidden;
        @include product-text-med;
    }

    .price {
        @include product-price;
    }

    .icon-med {
        width: 31.5px;
        height: 31.5px;
        float: right;
        margin-right: 37px;
        margin-top: -35px;
    }
}